@charset "utf-8";
/* CSS Document */

html
{
    overflow-x: hidden;
    scroll-behavior: "smooth";
}
body
{
    font-family: "montserrat";
    overflow-x: hidden;
}

*
{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 510px)
{
	h1{font-size: 20pt;}
	h2{font-size: 12pt;}
	h3{font-size: 11pt;}
	h4{font-size: 10pt;}
	h5{font-size: 9pt;}
	h6{font-size: 8pt !important;}
	p{font-size: 6pt !important;}
	input{font-size:7pt !important;}
	textarea{font-size:7pt !important;}
    img{width: 100%;}
}

ul 
{
    list-style-type: none;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    margin: 0 0 0 60%;
    color: aliceblue;
    float: left;
}

li 
{
    float: left;
    margin: 2% 0 0 8%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 5% 50%;
    text-decoration: none;
    font-size: 10pt;
    transition: 0.5s;
}

li a:hover 
{
    background-color: #ff8b38;
    color: aliceblue;
}

.image
{
	background-image: url("../images/Background.png");
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	display: flex;
	justify-content: center;
    position: relative;
    opacity: 0.9;
}


.tab1
{
    width: 50%;
    height: 30%;
    background-color: #1B1B1B;
    border: 1px solid #DFDFDF;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    font-size: 70%;
    color: white;
    justify-content: center;
}

.tab1:hover
{
    background-color: #ff8b38;
    cursor: pointer;
}


.eighth
{
	background-image: url("../images/bk6.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	display: flex;
	justify-content: center;
    position: relative;
    opacity: 0.9;
}

p
{
    font-size: 10pt;
    color:#B2B2B2;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

.form-control
{
    font-size: 10pt;
    color:#B7B7B7;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
    border: none;
    border-bottom: solid 1px #DFDFDF;
    background: none;
}

img
{
    width: auto;
    padding-bottom: 3%;
    padding-top: 3%;
}

.btn1
{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    background-color: #ff8b38;
    color: white;
    border: none;
    font-size: 10pt;
    border-radius: 6pt;
}

.btn2
{
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    background-color: transparent;
    color: white;
    border-color: whitesmoke;
    font-size: 10pt;
}

.btn2:hover
{
    background-color: #ff8b38;
}


.text-focus-in {
	-webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.blink-1 
{
	-webkit-animation: blink-1 2s ease-in-out both infinite;
	        animation: blink-1 2s ease-in-out both infinite;
}

@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) 2s both;
	        animation: slide-in-blurred-top 3s cubic-bezier(0.230, 1.000, 0.320, 1.000) 2s both;
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.rotate-vert-center {
	-webkit-animation: rotate-vert-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: rotate-vert-center 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.shadow-drop-center {
	-webkit-animation: shadow-drop-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: shadow-drop-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px;
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #ff8b38; 
  color: white; 
  cursor: pointer; 
  padding: 10px; 
  border-radius: 90%; 
  font-size: 11pt; 
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}